<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:insert="layouts/head">

</head>

<body>
	<header th:insert="layouts/header">

	</header>
	<div class="container">		
		<form th:action="@{/pelicula}" th:object="${pelicula}" method="post" class="col-md-8 offset-md-2">
			<h2 th:text="${titulo}" class="py-4"></h2>
			<div class="row mb-3">
				<label for="nombre_pelicula" class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombre_pelicula" th:field="*{nombrePelicula}">
				</div>
			</div>
			<div class="row mb-3">
				<label for="fecha_estreno" class="col-sm-2 col-form-label">Fecha de Estreno</label>
				<div class="col-sm-10">
					<input type="date" class="form-control" id="fecha_estreno" th:field="*{fechaEstreno}">
				</div>
			</div>
			<div class="row mb-3">
				<label for="genero" class="col-sm-2 col-form-label">Género</label>
				<div class="col-sm-10">
					<select class="form-select" th:field="*{generoPelicula}">
						<option th:each="genero : ${generos}" th:text="${genero.nombreGenero}" th:value="${genero.idGenero}"></option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-primary float-end">Guardar</button>
		</form>
	</div>
</body>

</html>